container_commands:
  01_migrate:
    command: "source /opt/python/run/venv/bin/activate && python newebdemo/manage.py migrate --noinput"
    leader_only: true
  02_collectstatic:
    command: "source /opt/python/run/venv/bin/activate && python newebdemo/manage.py collectstatic --noinput"

option_settings:
  "aws:elasticbeanstalk:application:environment":
    DJANGO_SETTINGS_MODULE: "newebdemo.settings"
    "PYTHONPATH": "/opt/python/current/app/newebdemo:$PYTHONPATH"
    "ALLOWED_HOSTS": ".elasticbeanstalk.com"
  "aws:elasticbeanstalk:container:python":
    WSGIPath: newebdemo/newebdemo/wsgi.py


